@media (min-width: 1440px){
    .navbar{
        position: relative;
        right: 0px;
        }
    .img7{
        height: 352px;
    }
    .img8{
        height: 265.5px;
    }
    .boton{
        margin: 10px;
    }
}