@media (min-width: 1024px) {

    .logo {
        align-content: flex-start;
        position: relative;
        width: 300px;
        top: 30px;
        left: 50px;
    }

    .navbar {
        width: 650px;
        gap: 5px;
        position: relative;
        left: 370px;
        bottom: 30px;
    }

    .fondo-inicio{
        height: 77.9vh;
    }

    .img5 {
        height: 229.29px;
    }

    .img6 {
        height: 265.5px;
    }

    .img7 {
        height: 300.39px;
    }

    footer {

        .elementosFoot {
            display: flex;
            flex-direction: row;
        }

        .elementoDeFooter {
        width: 300px;
        }
    }

    .agusYcarla {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .luYeli {
        @extend .agusYcarla;
    }

    .ximeYgaby {
        @extend .agusYcarla;
    }
}